* {
  box-sizing: border-box;
  font-family: 'Varela Round', Arial ;
  // @TODO odkomentowac
  // animation: init .7s forwards;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;

}

div {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
}

@keyframes init {
  from {opacity: 0}
  to {opacity: 1}

}
